# Ignore docs and scripts
/docs/
/scripts/
setup.cmd
changes_list.md

# Environment variables
.env
.env.*
!.env.example

# Standard Node.js
node_modules/
.next/
out/
build/
npm-debug.log*

# Standard Go
/backend/bin/
*.exe

# OS / IDE
.DS_Store
.idea/
.vscode/
*.log
